{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
        {{ form(createForm) }}

    {% endif %}
{% endblock %}
