.centerPage {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.txtSouligner {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    text-decoration: underline;
}

.txtBold {
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform : uppercase;
}

.txtbold {
    font-weight: bold;
}

.btnValider{
    background: #21B6B1;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnValider:hover{
    background: #5eb5e0;
}

.a_Inscrit {
    text-decoration: none;
    color: #FFFFFF;
}
